<!DOCTYPE html>
<html>
<head>
	<title>SEO Assignment</title>

	      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link rel="stylesheet" type="css/app.css" href="">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  <div class="parallax-container">

      <div class="row" style="margin-left: 800px; margin-top: 30px">
        <div class="col s12 m7">
          <div class="card" style="width: 250px; height: 400px">
            <div class="card-image">
              <img src="img/sai.jpg" style="width: 250px; height: 250px">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Isaiah Evans A. Villa Abrille</p>
            </div>
            <div class="card-action">
              <a href="www.facebook.com/ayesahyah">Facebook</a> <a href="www.twitter.com/ayesahyah">Twitter</a>
            </div>
          </div>
        </div>
      </div>

    <div class="parallax"><img src="img/background.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h1 class="header">Villa Abrille - SEO Assignment</h1>

      <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons"></i>1. What is Search Engine Optimization?</div>
      <div class="collapsible-body"><span>	<p>SEO is short for search engine optimization. It is an approach of systems, procedures and strategies used to expand the measure of guests to a site by acquiring a high-positioning situation in the indexed lists page of a web index — including Google, Bing, Yahoo and other web indexes.</p></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>2. Guidelines on how to read a Search Engine Results Page.</div>
      <div class="collapsible-body"><span>   <p> 1. Quality substance is, obviously, extremely important. Work to be a specialist, expert, and reliable in your industry.<br>
   2. On the web and disconnected notoriety will affect your positioning. <br>
   3. Your site does not have to incorporate the greater part of the most recent extravagant accessories, however ought to be useful. Make it simple for clients to discover the data that they're searching for. <br>
   4. YMYL pages are seen all the more fundamentally. <br>
   5. Incorporate great supplemental substance on your site. <br>
	6. Advertisements are alright the length of they don't disturb the client encounter, or divert from the fundamental content.<br> 
	7. Ensure your site is portable friendly.<br> 
	8. Check for broken links.<br> 
	9. Anticipate or evacuate spam comments.<br> 
	10. Add new substance to your website.<br> 
	11. Refresh stale or outdated content.<br> 
	12. Gather positive client reviews.<br> 
	13. Reach data is accessible on your website.<br> 
	14. Answer normal client inquiries briefly, toward the start of your article, and utilize organized information markup on your webpages.</p></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>3. How SEO affects Business</div>
      <div class="collapsible-body"><span>	<p>In the event that you are good to go, there are some genuine and particular to having a reliable continuous Search Engine Optimization strategy. For the first run through in history of promoting, clients are putting forth up their real plan through the words that they write into pursuit engines. And like never before some time recently, you can quantify the consequence of your SEO endeavors as an advertising channel. While web search tools dont charge you for posting your site pages, arranging and actualizing SEO in your association is unquestionably not free. You'll have to invest the energy, cash, and assets to do this the privilege way.</p> 

<p>The uplifting news is this can enable you to get a huge advertising reach, pull in more focused on guests, and measure the effect of your endeavors as far as an arrival on your investment. More and more substance shows up on the web each second of everyday. And your costumers require web crawlers to enable comprehend it all. truth be told, the greater the web gets, the more web indexes utilization proceeds to grow. People pursuit to discover answers to their questions.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>4. List some important SEO expectation</div>
      <div class="collapsible-body"><span><p>Set realistic goals, Measure the right thing, Set a baseline, Pulling it together</p></span></div>
    </li>
  </ul>


    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="img/bg.jpg"></div>
  </div>

        <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
</body>
</html>